body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #f94144;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  main {
    display: flex;
    gap: 10px;
    padding: 10px;
  }
  
  .main-left {
    background-color: #f3722c;
    color: white;
    flex: 3;
    padding: 1rem;
    text-align: center;
  }
  
  .main-right {
    background-color: #f8961e;
    color: white;
    flex: 1;
    padding: 1rem;
    text-align: center;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    background-color: #f9c74f;
    padding: 1rem;
  }
  
  footer div {
    background-color: #90be6d;
    flex: 1;
    margin: 0 5px;
    text-align: center;
    padding: 0.5rem;
    color: white;
  }
  
  /* Fixes alignment of footer elemnts to match up with main content */
  footer div:first-child {
    margin-left: 0;
  }
  
  footer div:last-child {
    margin-right: 0;
  }