header{
    color: white;
    text-align: center;
}

.Side-Stories{
    color: white !important;
}

.Primary-Stories .bg-warning{
    border: white solid 2px;
}

.Lower-Stories .bg-info{
    border: white solid 2px;
}